tr.noFailures {
  background-color: #4EDA57;
}

tr.unusedCA{
  background-color: #4294D5;
}

tr.onlyFailures {
  background-color: #FF5F5B;
}

tr.someFailures {
  background-color: #FFE15B;
}

th {
  cursor: default;
}

div.absolute {
  position: absolute;
}

#popup {
  background: white;
  border: 1px solid black;
  padding: 0px 5px;
  display: none;
}

p.monospace {
  font-family: monospace;
}
