tr.noFailures {
  background-color: #4EDA57;
}

tr.unusedCA{
  background-color: #4294D5;
}

tr.onlyFailures {
  background-color: #FF5F5B;
}

tr.someFailures {
  background-color: #FFE15B;
}

#versions {
  width: 14%;
  float: left;
}

#legend {
  margin-left: 14%;
}
