tr.noFailures {
  background-color: greenyellow;
}

tr.unusedCA{
  background-color: gold;
}

tr.onlyFailures {
  background-color: tomato;
}

tr.someFailures {
  background-color: orange;
}

#versions {
  width: 12%;
  float: left;
}

#legend {
  margin-left: 12%;
}
